@import url(https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap);
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
    color: inherit;
}
body{
    font-family: 'Poppins';
}

.content-container {
    width: 90%;
    margin: 40px auto;
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;   
}
.content {
    display: flex;
    gap: 40px;
    padding: 20px 50px;
    margin: 50px;
}
.text-header {
    background: #F3F3F3;
    border-left: 7px solid #7AB730;
    padding: 50px;
}

.text-header h6 {
    font-size: 1.5em;
    color: #7AB730;
    font-weight: 600;
    text-transform: uppercase;
}


.text-header h1 {
    font-size: 5em;
    font-weight: 600;
}
 .center {
    text-align: center;
    font-size: 1.4em;
    margin: 20px auto;
    font-weight: 600;
    color: #656565;
}
.text-bottom{
    background: #F3F3F3;
    padding: 50px;

}
.links {display: flex;gap: 40px;}

a.mission {
    flex: 0 0 50%;
    background: #7AB730;
    color: white;
    text-align: center;
}

a.vision {
    color: #7AB730;
    flex: 0 0 50%;
    text-align: center;
}
.links a {
    font-size: 2em;
    text-transform: uppercase;
    padding: 10px 0;
    margin-bottom: 20px;
}
.text-bottom p {
    font-size: 1.4em;
    color: #656565;

}